<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>413391857162-tpffso78keapb5lgbilsj8qgtja8fspt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413391857162-tpffso78keapb5lgbilsj8qgtja8fspt</string>
	<key>API_KEY</key>
	<string>AIzaSyDd58zZrgQ2PXbn0RGrWBRsbX6hodttFtg</string>
	<key>GCM_SENDER_ID</key>
	<string>413391857162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dustykeyboard.firebaseanalytics</string>
	<key>PROJECT_ID</key>
	<string>fireanalytic-quickstart</string>
	<key>STORAGE_BUCKET</key>
	<string>fireanalytic-quickstart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413391857162:ios:c2c23f9cef685f6f</string>
	<key>DATABASE_URL</key>
	<string>https://fireanalytic-quickstart.firebaseio.com</string>
</dict>
</plist>